/*
app.scss
============
General css included on this file
which are resets and html, body styles
*/

* {
	box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
	display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: stretch;
}
